
@media (max-width: 48rem){

    .header{
        width: 275%;
        height: 150px;
        text-align: center;
    }

    .footer{
        width: 275%;
        height: 275%;
        position: relative;
        margin-top: -150px;
    }

    .comentario-usuario{
        margin-top: 5rem;
    }

}