@media (max-width: 20rem){

    #bodynos .footer{
        width: 275%;
        height: 275%;
        position: relative;
        margin-top: -150px;
    }

    #bodynos .header{
        width: 300%;
        height: 150px;
    }

    #bodynos .OCUPACIONES{
        margin-bottom: -150px;
        justify-content: center;
    }
}