
.present-destinos{
    display: flex;
    background-color: $celeste;
}

.turismouno img{
    display: flex;
    position: relative;
    border: 8px solid $claroazul;
    width: 70%;
    height: 400px;
    margin: 40px;
    left: 550px;
    right: 550px;
}

.turismouno h2{
    position: absolute;
    width: 16rem;
    text-align: start;
    left: 110px;
    right: 110px;
    top: 10rem;
    bottom: 10rem;
}

.turismouno h1{
    position: absolute;
    left: 100px;
    right: 100px;
    top: 6rem;
    bottom: 6rem;
}

.RAZONESVIAJE img{
    display: flex;
    position: relative;
    justify-content: center;
    border: solid $negro;
    margin: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 35px;
    width: 250px;
    height: 250px;
}

.RAZONESVIAJE h1{
    text-align: center;
}

.RAZONESVIAJE p{
    margin-left: 30px;
    width: 14rem;
}

.tituloejemplosturismo{
    display: flex;
    position: absolute;
    text-align: center;
    left: 28rem;
    right: 28rem;
}

.fondocolordestino{
    display: flex;
    border-top: solid $negro;
    background-color: $marronclaro;
}

.selector-destino{
    display: flex;  
    width: 100%;
    border-top: solid $negro;
}

.residencia{
    display: flex;
    position: relative;
    background-color: $gris;
    height: 50px;
    margin-top: 160px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.fecha-de-viaje{
    display: flex;
    position: relative;
    background-color: $gris;
    height: 50px;
    margin-top: 140px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.destino{
    display: flex;
    position: relative;
    background-color: $gris;
    height: 50px;
    margin-top: 140px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.costo-total{
    display: flex;
    position: relative;
    background-color: $gris;
    height: 50px;
    width: 600px;
    margin-top: 140px;
    margin-left: 40px;
}

.papuesquina{
    position: relative;
    height: 200px;
    width: 300px;
    left: 37rem;
    right: 37rem;
    top: -27rem;
    bottom: -27rem;
}

.slider-destinos{
    display: flex;
    border-top: solid $negro;
    background-color: $claroazul;
}

.slider-box{
    width: 1200px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.texto-slider{
    position:absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: $negro;
}

.texto-slider h2{
    font-size: 45px;
    margin-bottom: 35px;
}

.slider-box img{
    width: 1100px;
    height: 630px;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
